@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

body{
    width: max-content;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;

}

.outside{
    
    background-image: url(surfer-wave-sunlight-bright-art.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    z-index: -2;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.menu{
    font-family: 'Grape Nuts', cursive;
    color: rgba(28,46,68,255);
    display: flex;
    position: fixed;
    align-self: stretch;
    align-content: stretch;
    background-color: rgba(182,215,206,255);
    width: 100%;
    height: 50px;
    z-index:inherit;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    top: 0;
    box-shadow: 0px 10px 10px 10px rgba(182,215,206,255);
}

.box{
    font-family: 'Grape Nuts', cursive;
    align-items: center;
    background-color: rgba(254,244,207,255);
    width: 100%;
    min-height: 800px;
    margin-bottom: 900px;
    color: rgba(28,46,68,255);
    margin-right: 0;
    margin-left: 0;
    padding-top: 100px;
    padding-left: 10px;
    font-size: 24px;
    box-shadow: 0px 50px 50px 50px rgba(254,244,207,255);
    z-index: -2;
    

    
}

.box1{
    font-family: 'Grape Nuts', cursive;
    background-color: rgba(254,244,207,255);
    align-self: stretch;
    color: rgba(28,46,68,255);
    padding-bottom: 100px;
    padding-left: 10px;
    margin-bottom: 0;
    margin-top: 400px;
    margin-right: 0;
    margin-left: 0;
    font-size: 24px;
    width: 100%;
    min-height: 800px;
    box-shadow: 0px 0px 50px 80px rgba(254,244,207,255);
}

footer .credito{
    font-family: 'Grape Nuts', cursive;
    color:rgba(28,46,68,255);
    bottom: 0;
    z-index: inherit;
    bottom: 0;
    margin: 0;
    padding: 0;
    max-height: 50px;
}
footer{
    font-family: 'Grape Nuts', cursive;
    color: rgba(28,46,68,255);
    align-self: stretch;
    align-content: stretch;
    width: 100%;
    max-height: 100px;
    position: fixed;
    background-color: rgba(182,215,206,255);
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 50px 35px rgba(182,215,206,255);
}

